@model Rent_Flat_Core.Models.Tipos_Vivienda

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/PlantillaBack.cshtml";
}

<div class="card">
    <div class="card-header">Modificar @Model.Descripcion</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="Cod_tipo_vivienda" class="control-label"></label>
                        <input asp-for="Cod_tipo_vivienda" class="form-control" />
                        <span asp-validation-for="Cod_tipo_vivienda" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="GetTipoVivienda">Volver</a>
        </div>

    </div>
</div>


