<div class="col-sm-6 col-lg-3">
    <div class="overview-item overview-item--c3">
        <div class="overview__inner">
            <div class="icon">
                <i class="fa fa-picture-o"></i>
            </div>
            <div class="text">
                <h2>@ViewBag.TotalCostas</h2>
                <span>Total Costas Registradas</span>
            </div>
            <div class="overview-chart">
                <canvas id="widgetChart3"></canvas>
            </div>
        </div>
    </div>
</div>