<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Mi Aplicación Core</title>
    <environment include="Development">
        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/starter-template.css" rel="stylesheet" />
        <link href="~/css/cookiealert.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/starter-template.css" rel="stylesheet" />
        <link href="~/css/cookiealert.css" rel="stylesheet" />
    </environment>
    @RenderSection("styles", false)

    @*@Html.Raw(JavaScriptSnippet.FullScript)*@
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-action="Index"
                       asp-controller="Home"
                       class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index"
                       asp-controller="Empleados"
                       class="nav-link">Zona Empleados</a>
                </li>
                <li class="nav-item">

                </li>
                <li class="nav-item">
                    <a asp-action="Index"
                       asp-controller="Coches"
                       class="nav-link">Mi Coche</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Ficheros"
                       asp-controller="Uploads"
                       class="nav-link">Upload Files</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a asp-action="Index"
                           asp-controller="RealMadrid"
                           asp-area="RealMadrid"
                           class="dropdown-item">Real Madrid</a>
                        <a asp-action="Donativos"
                           asp-controller="Home"
                           class="dropdown-item">Donativos</a>
                        <a asp-action="Index" class="dropdown-item"
                           asp-controller="Perfil">Perfil usuario</a>
                        <a asp-action="MiSesion"
                           asp-controller="Home"
                           class="dropdown-item">Session</a>
                        <a asp-action="Index"
                           asp-controller="Departamentos"
                           class="dropdown-item">Departamentos</a>
                        <a asp-action="Index" class="dropdown-item"
                           asp-controller="Perfil">Perfil usuario</a>
                        <a asp-action="About"
                           asp-controller="Home"
                           asp-route-usuario="Martes"
                           class="dropdown-item">About</a>
                    </div>
                </li>
                @await Component.InvokeAsync("MenuDepartamentos")
            </ul>
            <ul>
                <partial name="_MenuEmpleado" />
            </ul>
        </div>
    </nav>
    <partial name="_PartialCookieConsent" />
    <main role="main" class="container">
        @RenderBody()
        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        </div>
    </main><!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <environment include="Development">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/cookiealert.js"></script>
    </environment>
    <environment include="Production">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/cookiealert.js"></script>
    </environment>
    @RenderSection("scripts", false)
</body>
</html>
