
@{
    ViewData["Title"] = "AcercaDeNosotros";
    Layout = "~/Views/Shared/PlantillaFront.cshtml";
}
<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/Front/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Front/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Front/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Front/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Front/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Front/styles/about.css">
    <link rel="stylesheet" type="text/css" href="~/Front/styles/about_responsive.css">

</environment>



<!-- About -->

<div class="about">
    <div class="container">
        <div class="row">

            <!-- About Content -->
            <div class="col-lg-6">
                <div class="about_content">
                    <div class="section_title">Un poco de historia...</div>
                    <div class="section_subtitle">Busca tu casa ideal</div>
                    <div class="about_text">
                        <p>
                            Creemos que la búsqueda de una casa es un proceso que está lleno de penumbra y de falta de transparencia

                            Desde Rent a  house queremos aportar luz y claridad en la oscuridad, hacer nuestro trabajo apoyados en los valores de la compañía: confianza, claridad, optimismo y transparencia.
                        </p>
                    </div>
                </div>
            </div>

            <!-- About Image -->
            <div class="col-lg-6">
                <div class="about_image"><img src="~/Front/images/about_image.jpg" alt=""></div>
            </div>
        </div>
        <div class="row milestones_row">

            <!-- Milestone -->
            @*<div class="col-lg-3 milestone_col">
                    <div class="milestone d-flex flex-row align-items-center justify-content-start">
                        <div class="milestone_icon d-flex flex-column align-items-center justify-content-center"><img src="~/Content/Front/images/milestones_1.png" alt=""></div>
                        <div class="milestone_content">
                            <div class="milestone_counter" data-end-value="651">0</div>
                            <div class="milestone_text">Propiedades Alquiladas</div>
                        </div>
                    </div>
                </div>*@

            <!-- Milestone -->
            @*<div class="col-lg-3 milestone_col">
                    <div class="milestone d-flex flex-row align-items-center justify-content-start">
                        <div class="milestone_icon d-flex flex-column align-items-center justify-content-center"><img src="~/Content/Front/images/milestones_2.png" alt=""></div>
                        <div class="milestone_content">
                            <div class="milestone_counter" data-end-value="1256">0</div>
                            <div class="milestone_text">Clientes felices</div>
                        </div>
                    </div>
                </div>*@

            <!-- Milestone -->
            @*<div class="col-lg-3 milestone_col">
                    <div class="milestone d-flex flex-row align-items-center justify-content-start">
                        <div class="milestone_icon d-flex flex-column align-items-center justify-content-center"><img src="~/Content/Front/images/milestones_3.png" alt=""></div>
                        <div class="milestone_content">
                            <div class="milestone_counter" data-end-value="124">0</div>
                            <div class="milestone_text">Propiedades de nueva construcción</div>
                        </div>

                    </div>
                </div*@>

            <!-- Milestone -->
            @*<div class="col-lg-3 milestone_col">
                    <div class="milestone d-flex flex-row align-items-center justify-content-start">
                        <div class="milestone_icon d-flex flex-column align-items-center justify-content-center"><img src="~/Content/Front/images/milestones_4.png" alt=""></div>
                        <div class="milestone_content">
                            <div class="milestone_counter" data-end-value="25">0</div>
                            <div class="milestone_text">Reconocimiento inmobiliarios</div>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>
</div>

<!-- Realtors -->

<div class="realtors">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title">Equipo gestor</div>
                <div class="section_subtitle">Busca la casa de tus sueños</div>
            </div>
        </div>
        <div class="row realtors_row">

            <!-- Realtor -->
            <div class="col-lg-3 col-md-6">
                <div class="realtor_outer">
                    <div class="realtor">
                        <div class="realtor_image"><img src="~/Front/images/realtor_1.jpg" alt=""></div>
                        <div class="realtor_body">
                            <div class="realtor_title">Maria Escobar</div>
                            <div class="realtor_subtitle">Cofundadora.Directora de operaciones.  </div>
                        </div>
                        <div class="realtor_link"><a href="#"></a></div>
                    </div>
                    <div class="realtor_link_background_container">
                        <div><div class="realtor_link_background"></div></div>
                    </div>
                </div>
            </div>

            <!-- Realtor -->
            <div class="col-lg-3 col-md-6">
                <div class="realtor_outer">
                    <div class="realtor">
                        <div class="realtor_image"><img src="~/Front/images/realtor_2.jpg" alt=""></div>
                        <div class="realtor_body">
                            <div class="realtor_title">Valentín Silvertino</div>
                            <div class="realtor_subtitle">Cofundador. Director de comunicación y jefe de estudios. </div>
                        </div>
                        <div class="realtor_link"><a href="#"></a></div>
                    </div>
                    <div class="realtor_link_background_container">
                        <div><div class="realtor_link_background"></div></div>
                    </div>
                </div>
            </div>

            <!-- Realtor -->
            <div class="col-lg-3 col-md-6">
                <div class="realtor_outer">
                    <div class="realtor">
                        <div class="realtor_image"><img src="~/Front/images/realtor_3.jpg" alt=""></div>
                        <div class="realtor_body">
                            <div class="realtor_title">Félix Palma</div>
                            <div class="realtor_subtitle">Director de Tecnología.</div>
                        </div>
                        <div class="realtor_link"><a href="#"></a></div>
                    </div>
                    <div class="realtor_link_background_container">
                        <div><div class="realtor_link_background"></div></div>
                    </div>
                </div>
            </div>

            <!-- Realtor -->
            <div class="col-lg-3 col-md-6">
                <div class="realtor_outer">
                    <div class="realtor">
                        <div class="realtor_image"><img src="~/Front/images/realtor_4.jpg" alt=""></div>
                        <div class="realtor_body">
                            <div class="realtor_title">Consuelo Castillo</div>
                            <div class="realtor_subtitle">Directora financiera.</div>
                        </div>
                        <div class="realtor_link"><a href="#"></a></div>
                    </div>
                    <div class="realtor_link_background_container">
                        <div><div class="realtor_link_background"></div></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/Front/js/jquery-3.2.1.min.js"></script>
    <script src="~/Front/styles/bootstrap4/popper.js"></script>
    <script src="~/Front/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Front/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Front/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Front/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Front/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Front/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Front/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Front/plugins/easing/easing.js"></script>
    <script src="~/Front/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Front/js/about.js"></script>

</environment>