@model Rent_Flat_Core.Models.Costas

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/PlantillaBack.cshtml";
}

<h2>Delete</h2>
<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <h3>¿Está seguro que quiere eliminar @Model.NombreProvincia?</h3>
        <div>
            <form asp-action="EliminarCosta">
                @Html.HiddenFor(model => model.Cod_Provincia)
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <a asp-action="Nombre_Costas">Volver</a>
            </form>
        </div>
    </div>

</div>
